@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

body {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121327;
    font-family: 'Lexend', sans-serif;
    color: #fff;
}

.signup-container,
.login-container {
	background-color: #6563b2;
	border: 1px solid #2a3965;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 300px;
	text-align: center;
}

h2 {
	color: #fff;
}

.signup-form,
.login-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.signup-form input,
.login-form input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.signup-form button,
.login-form button {
	background-color: #3498db;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
    font-family: inherit;
}

.signup-form button:hover,
.login-form button:hover {
	background-color: #2980b9;
}

a {
	text-transform: uppercase;
	color: black;
}

a:visited {
	
	color: black;
	text-decoration: none;
}

.index-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
}

.index-btn:hover {
    background-color: #2980b9;
    cursor: pointer;
}