<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../../public/css/error-user.css">

	<title>Error - Session Expired</title>
</head>

<body>

	<div class="error-container">
		<h3><span>Error:</span> User's session expired</h3>
		<span>
			<p>
				Please, <a href="/login">log in</a> or <a href="/signup">sign up</a> to access this page
			</p>
			
			<p>
				or come back to the <a href="/">initial page</a>.
			</p>
		</span>

	</div>

</body>

</html>