<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quiz Game</title>
	<link rel="stylesheet" href="../../public/css/profile.css">

	<!-- import the axios library -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- import the shared functions -->
	<script src="../../public/js/utils/shared-functions.js"></script>
	<!-- import the functions for this page -->
	<script type="module" src="../../public/js/profile/profile.js"></script>

</head>

<body>

	<button class="back-btn" onclick="redirect('/')">Go Back</button>

	<button class="logout-btn" onclick="alert('Doing Logout ...')">Log out</button>

	<div class="header">
		<span id="user-username" class="user-username"></span>'s Profile
	</div>

	<div class="img-div">
		<img class="img-profile" src="../../public/img/profile.jpg" alt="profile picture">
	</div>

	<div class="center-div stats-container">

		<h2>Statistics:</h2>

		<div class="stats">
			<span class="stats-header"> Correct Answers:</span> <span id="stats-correct-answers"
				class="stats-content stats-correct-answers"></span>
			<span class="stats-header"> Correct Easy:</span> <span id="stats-correct-easy"
				class="stats-content stats-correct-easy"></span>
			<span class="stats-header"> Correct Medium:</span> <span id="stats-correct-medium"
				class="stats-content stats-correct-medium"></span>
			<span class="stats-header"> Correct Hard:</span> <span id="stats-correct-hard"
				class="stats-content stats-correct-hard"></span>
		</div>

		<div class="total-score-container">
			<div class="total-score">
				<div>
					<span class="stats-header"> Total Points:</span> <span id="stats-total-points"
						class="stats-content stats-total-points"></span>
				</div>
			</div>

		</div>

	</div>

	<div class="center-div questions-container">

		<h2>My Questions:</h2>

		<div class="my-questions">

			<table id="table-questions">

				<tr>
					<th>Category</th>
					<th>Difficulty</th>
					<th>Question</th>
					<th>Answer</th>
				</tr>

			</table>

		</div>

	</div>

</body>

</html>