<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quiz Questions</title>
	<link rel="stylesheet" href="../../public/css/questions.css">

	<script>
		function goBack() {
			window.location.href = "/";
		}
	</script>

</head>

<body>

	<button class="back-button" onclick="goBack()">Go Back</button>

	<div class="header">
		<h1>Questions by category</h1>
	</div>


	<div class="card-header">
		<h2 class="card-title">Miscelaneous</h2>
	</div>
	<div class="card-container">

		<div class="card category-any">
			<div class="card-title">Any Category</div>
		</div>

		<div class="card category-general">
			<div class="card-title">General Knowledge</div>
		</div>

	</div>

	<div class="card-header">
		<h2 class="card-title">Art and Entertainment</h2>
	</div>
	<div class="card-container">


		<div class="card category-art">
			<div class="card-title">Art</div>
		</div>

		<div class="card category-celebrities">
			<div class="card-title">Celebrities</div>
		</div>

		<div class="card category-books">
			<div class="card-title">Entertainment: Books</div>
		</div>

		<div class="card category-film">
			<div class="card-title">Entertainment: Film</div>
		</div>

		<div class="card category-music">
			<div class="card-title">Entertainment: Music</div>
		</div>

		<div class="card category-theatres">
			<div class="card-title">Entertainment: Musicals &amp; Theatres</div>
		</div>

		<div class="card category-television">
			<div class="card-title">Entertainment: Television</div>
		</div>

		<div class="card category-comics">
			<div class="card-title">Entertainment: Comics</div>
		</div>

		<div class="card category-games">
			<div class="card-title">Entertainment: Video Games</div>
		</div>

		<div class="card category-anime">
			<div class="card-title">Entertainment: Japanese Anime &amp; Manga</div>
		</div>

		<div class="card category-animations">
			<div class="card-title">Entertainment: Cartoon &amp; Animations</div>
		</div>

	</div>

	<div class="card-header">
		<h2 class="card-title">Science</h2>
	</div>
	<div class="card-container">


		<div class="card category-nature">
			<div class="card-title">Science &amp; Nature</div>
		</div>

		<div class="card category-computers">
			<div class="card-title">Science: Computers</div>
		</div>

		<div class="card category-gadgets">
			<div class="card-title">Science: Gadgets</div>
		</div>

		<div class="card category-mathematics">
			<div class="card-title">Science: Mathematics</div>
		</div>

	</div>

	<div class="card-header">
		<h2 class="card-title">History and Society</h2>
	</div>
	<div class="card-container">

		<div class="card category-history">
			<div class="card-title">History</div>
		</div>

		<div class="card category-politics">
			<div class="card-title">Politics</div>
		</div>

	</div>

	<div class="card-header">
		<h2 class="card-title">Culture and Myths</h2>
	</div>
	<div class="card-container">

		<div class="card category-geography">
			<div class="card-title">Geography</div>
		</div>

		<div class="card category-mythology">
			<div class="card-title">Mythology</div>
		</div>

	</div>

	<div class="card-header">
		<h2 class="card-title">Sports</h2>
	</div>
	<div class="card-container">

		<div class="card category-sports">
			<div class="card-title">Sports</div>
		</div>
	</div>

	<div class="card-header">
		<h2 class="card-title">Animals and Vehicles</h2>
	</div>
	<div class="card-container">


		<div class="card category-animals">
			<div class="card-title">Animals</div>
		</div>

		<div class="card category-vehicles">
			<div class="card-title">Vehicles</div>
		</div>

	</div>

</body>

</html>