<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quiz Questions</title>
	
	<link rel="stylesheet" href="../../public/css/questions.css">
	<link rel="stylesheet" href="../../public/css/modal.css">

	<script type="module" src="../../public/js/questions/questions.js"></script>
	
	<!-- import the axios library -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- import the shared functions -->
	<script src="../../public/js/utils/shared-functions.js"></script>
	<!-- import the functions for this page -->
	<script src="../../public/js/index/index.js"></script>

	<script>

		function checkFields(category, difficulty, type, question, correctAnswer, incorrectAnswer1, incorrectAnswer2, incorrectAnswer3){

			
			if (!category.trim() || !difficulty.trim() || !type.trim() || !question.trim()) {
				alert('Please provide values for category, difficulty, type and question.');
				console.log('Please provide values for category, difficulty, type and question.')
				return false; // Detener el proceso si no hay respuesta correcta
			}

			// Verificar el tipo de pregunta
			if (type === 'boolean') {
				// Verificar que se haya proporcionado un valor para la respuesta correcta
				if (!correctAnswer.trim() || //check if there is a correct answer and an incorrect answer
				   (correctAnswer.trim().toLowerCase() !== 'true' && correctAnswer.trim().toLowerCase() !== 'false') ) { //check if the correct answer is true or false

					console.log(correctAnswer.trim().toLowerCase());
					
					alert('Please provide a value for the correct answer for the True/False question.');
					console.log('Please provide a value for the correct answer for the True/False question')
					return false; // Detener el proceso si no hay respuesta correcta
				}

				// No se requieren respuestas incorrectas para preguntas de Verdadero/Falso
			} else if (type === 'multiple') {
				// Verificar que se hayan proporcionado valores para todas las respuestas
				if (!correctAnswer.trim() || !incorrectAnswer1.trim() || !incorrectAnswer2.trim() || !incorrectAnswer3.trim()) {
					alert('Please provide values for all answers for the Multiple Choice question.');
					console.log('Please provide values for all answers for the Multiple Choice question.')
					return false; // Detener el proceso si falta alguna respuesta
				}
			} else {
				// Tipo de pregunta no reconocido
				alert('Please select a valid question type.');
				console.log('Please select a valid question type.')
				return false;
			}
			
			return true
		}

		function createQuestion(category, difficulty, type, question, correctAnswer, incorrectAnswer1, incorrectAnswer2, incorrectAnswer3){
			question ={
				category: category,
				difficulty: difficulty,
				type: type,
				question: question,
				correctAnswer: correctAnswer,
			}

			if(type === 'boolean'){
				question.incorrectAnswers = [];
			}else{
				question.incorrectAnswers = [incorrectAnswer1, incorrectAnswer2, incorrectAnswer3];
			}

			return question;
		}

		async function submitNewQuestion() {
			//alert('submitNewQuestion');
			const category = document.getElementById('question-category').value;
			const difficulty = document.getElementById('question-difficulty').value;
			const type = document.getElementById('question-type').value;
			const question = document.getElementById('question-text').value;
			const correctAnswer = document.getElementById('question-correct-answer').value;
			
			const incorrectAnswer1 = document.getElementById('question-incorrect-answer-1').value;
			const incorrectAnswer2 = document.getElementById('question-incorrect-answer-2').value;
			const incorrectAnswer3 = document.getElementById('question-incorrect-answer-3').value;

			if(!checkFields(category, difficulty, type, question, correctAnswer, incorrectAnswer1, incorrectAnswer2, incorrectAnswer3))
				return

			const data = createQuestion(category, difficulty, type, question, correctAnswer, incorrectAnswer1, incorrectAnswer2, incorrectAnswer3);

			//console.log('data:', data);
			
			const token = getCookie('token');

			if (!token) {
				alert('Error: Invalid token');
				throw new Error('Invalid token');
			}

			try {

				let response = await axios.post('/api/decode-token', { token });

				if (!response.data) {
					alert('Error: Invalid token');
					throw new Error('Invalid token');
				}

				const { id, username } = response.data;
				
				
				data.username = username;

				response = await axios.post('/questions/addquestion', data);

				console.log('response:', response);

				if (response.data.success) {
					alert('Question added successfully');
				} else {
					alert('Question not added');
				}

				
			
			} catch (error) {
				console.error('Error decoding token:', error);
			}

		}

	</script>

</head>

<body>

	<button id="add-question-btn" class="add-question-btn add-question-btn-hide">Add a Question</button>

	<button class="back-button" onclick="redirect('/')">Go Back</button>

	<div class="header">
		<h1>Questions by category</h1>
	</div>


	<div class="card-header">
		<h2 class="card-title">Miscelaneous</h2>
	</div>
	<div class="card-container">

		<div class="card category-any">
			<div class="card-title">User's Questions</div>
		</div>

		<div class="card category-general">
			<div class="card-title">General Knowledge</div>
		</div>

	</div>

	<div class="card-header">
		<h2 class="card-title">Art and Entertainment</h2>
	</div>
	<div class="card-container">


		<div class="card category-art">
			<div class="card-title">Art</div>
		</div>

		<div class="card category-celebrities">
			<div class="card-title">Celebrities</div>
		</div>

		<div class="card category-books">
			<div class="card-title">Entertainment: Books</div>
		</div>

		<div class="card category-film">
			<div class="card-title">Entertainment: Film</div>
		</div>

		<div class="card category-music">
			<div class="card-title">Entertainment: Music</div>
		</div>

		<div class="card category-theatres">
			<div class="card-title">Entertainment: Musicals &amp; Theatres</div>
		</div>

		<div class="card category-television">
			<div class="card-title">Entertainment: Television</div>
		</div>

		<div class="card category-comics">
			<div class="card-title">Entertainment: Comics</div>
		</div>

		<div class="card category-games">
			<div class="card-title">Entertainment: Video Games</div>
		</div>

		<div class="card category-board-games">
			<div class="card-title">Entertainment: Board Games</div>
		</div>

		<div class="card category-anime">
			<div class="card-title">Entertainment: Japanese Anime &amp; Manga</div>
		</div>

		<div class="card category-animations">
			<div class="card-title">Entertainment: Cartoon &amp; Animations</div>
		</div>

	</div>

	<div class="card-header">
		<h2 class="card-title">Science</h2>
	</div>
	<div class="card-container">


		<div class="card category-nature">
			<div class="card-title">Science &amp; Nature</div>
		</div>

		<div class="card category-computers">
			<div class="card-title">Science: Computers</div>
		</div>

		<div class="card category-gadgets">
			<div class="card-title">Science: Gadgets</div>
		</div>

		<div class="card category-mathematics">
			<div class="card-title">Science: Mathematics</div>
		</div>

	</div>

	<div class="card-header">
		<h2 class="card-title">History and Society</h2>
	</div>
	<div class="card-container">

		<div class="card category-history">
			<div class="card-title">History</div>
		</div>

		<div class="card category-politics">
			<div class="card-title">Politics</div>
		</div>

	</div>

	<div class="card-header">
		<h2 class="card-title">Culture and Myths</h2>
	</div>
	<div class="card-container">

		<div class="card category-geography">
			<div class="card-title">Geography</div>
		</div>

		<div class="card category-mythology">
			<div class="card-title">Mythology</div>
		</div>

	</div>

	<div class="card-header">
		<h2 class="card-title">Sports</h2>
	</div>
	<div class="card-container">

		<div class="card category-sports">
			<div class="card-title">Sports</div>
		</div>
	</div>

	<div class="card-header">
		<h2 class="card-title">Animals and Vehicles</h2>
	</div>
	<div class="card-container">


		<div class="card category-animals">
			<div class="card-title">Animals</div>
		</div>

		<div class="card category-vehicles">
			<div class="card-title">Vehicles</div>
		</div>

	</div>


	<!--Container for modal window -->
    <div id="modal" class="modal">
        <div id="modal-content" class="modal-content">
            <span id="modal-close" class="close">X</span>
            <h3>
				<p id="modal-title"></p>
			</h3>
			<div id="modal-body"></div>
        </div>
    </div>


</body>

</html>