<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Leaderboard</title>
	<link rel="stylesheet" href="../../public/css/scoreboard.css">

	<script type="module" src="../../public/js/scoreboard/scoreboard.js"></script>

	<!-- import the axios library -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- import the shared functions -->
	<script src="../../public/js/utils/shared-functions.js"></script>

</head>

<body>

	<button class="back-button" onclick="redirect('/')">Go Back</button>

	<div class="header">
		<h1>Leaderboard</h1>
	</div>


	<div class="score-text">

		Score is calculated as follows: <br>
		<br>
		Score = Correct Answers (<b>E.Q</b>) * 1 + Correct Answers (<b>M.Q</b>) * 3 + Correct Answers (<b>H.Q</b>) * 5
		<br>
		<br>

		- *E.Q = Easy Questions <br>
		- *M.Q = Medium Questions <br>
		- *H.Q = Hard Questions <br>

	</div>

	<table id="table-scoreboard">
		
		<tr>

			<th>Rank</th>

			<th>Username</th>

			<th>E.Q.</th>

			<th>M.Q.</th>

			<th>H.Q.</th>

			<th>Score</th>

		</tr>

	</table>

</body>

</html>